@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif !important;
}

nav#menu ul{
    text-transform: uppercase;
    list-style: none;
}

.navbar{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #ffc710;
    text-align: center;
}

nav#menu{
    display: block;
}

nav#menu li{
    display: inline-block;
    background: rgb(250, 202, 89);
    padding: 10px;
}

body{
    background-color: rgb(255, 250, 183);
    text-align: center;
}

nav#menu a:link{
    text-decoration: none;
    color:rgb(255, 255, 255);
    font-weight: bold;
}

a {
    text-decoration: none;
    color: black;
}

nav#menu a:visited{
    text-decoration: none;
    color:rgb(255, 255, 255);
    font-weight: bold;
}

nav#menu a:hover{
   color:rgb(0, 0, 0);
}

nav#menu li:hover{
    background: rgb(241, 185, 0);
}

#container-list{
    display: flex;
    flex-direction: column; /* lista vertical */
    gap: 10px;
    margin-bottom: 60px;
    padding: 20px;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.box{
    background-color: #8CE4FF;
    padding: 30px;
    border: none;
    border-radius: 20px;
    text-align: left;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.box:hover{
    transform: scale(1.05);
    background-color: #6acdfe;
    border: 2px solid #001f2e;
}

.caixinha-cinza {
    background-color: #3f54cb;
    padding: 5px 10px;
    border-radius: 3px;
    color: #c7cfff;
    font-weight: bold;
    user-select: none;
}