*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

nav#menu ul{
    text-transform: uppercase;
    list-style: none;
}

.navbar{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #ffc710;
    text-align: center;
}

nav#menu{
    display: block;
}

nav#menu li{
    display: inline-block;
    background: rgb(250, 202, 89);
    padding: 10px;
}

body{
    background-color: rgb(255, 250, 183);
}

nav#menu a:link{
    text-decoration: none;
    color:rgb(255, 255, 255);
    font-weight: bold;
}

nav#menu a:visited{
    text-decoration: none;
    color:rgb(255, 255, 255);
    font-weight: bold;
}

nav#menu a:hover{
   color:rgb(0, 0, 0);
}

nav#menu li:hover{
    background: rgb(241, 185, 0);
}

/*barra de navegação superior*/
header nav#menu-top {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffc710;
}
header nav#menu-top ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
}
header nav#menu-top li {
    flex: 1;
    text-align: center;
    padding: 20px;
}

nav#menu-top a:link{
    text-decoration: none;
    color:rgb(255, 255, 255);
    font-weight: bold;
}

nav#menu-top a:visited{
    text-decoration: none;
    color:rgb(255, 255, 255);
    font-weight: bold;
}

nav#menu-top a:hover{
    color:rgb(0, 0, 0);
 }
 
 nav#menu-top li:hover{
     background: rgb(241, 185, 0);
 }

 .profile-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%; /* deixa o ícone circular */
    margin-right: 15px;
    cursor: pointer;
    border: 2px solid rgba(254, 254, 254, 0.605); /* opcional, dá destaque */
  }

/*feed simulado*/
#container-list {
    max-width: 720px;
    margin: 90px auto 80px auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.box {
    background: rgb(255, 230, 147);
    border-radius: 12px;
    padding: 15px;
    border: 1px solid #ce9000;
    transition: 0.2s ease;
}

.box:hover {
    background-color: rgb(253, 218, 102);
}

.box h3 {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 5px;
    color: #14171a;
}

.box p {
    font-size: 15px;
    line-height: 1.4;
    margin-bottom: 10px;
    color: #14171a;
}

.box img {
    width: 100%;
    border-radius: 10px;
    margin-top: 8px;
}

/* ===== ÁREA DE RESPOSTA ===== */
.response-area {
    display: flex;
    gap: 8px;
    margin-top: 10px;
}

.response-area input {
    flex: 1;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #cfd9de;
    outline: none;
    font-size: 14px;
}

.response-area input:focus {
    border-color: #a3b1b9;
}

/* Botão */
.response-area button {
    background-color: #ffc710; /* mesma cor da sua navbar */
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 15px;
    cursor: pointer;
    font-weight: bold;
}

.response-area button:hover {
    background-color: #e6b20d;
}