body{
    background-image: url('./img/Girassol.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
}

#formulario{
    background-color: rgb(253, 186, 43);
    padding: 20px;
    border-radius: 20px;
    max-width: 550px;
    display: flex;
    align-items: center;
    height: 80vh;
    gap: 10px;
}

#formulario, #logo, #slogan {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logo{
    background-color: rgb(253, 186, 43);
    padding: 20px;
    border-radius: 20px;
    max-width: 450px;
    display: flex;
    align-items: center;
    height: 30vh;
    
}

.logo {
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
}

#slogan{
    background-color: rgb(253, 186, 43);
    padding: 20px;
    border-radius: 20px;
    max-width: 450px;
    display: flex;
    align-items: center;
    height: 40vh;
    text-align: center;
    font-size: 45px;
}