/* Estilo geral da página */
body {
    font-family: Arial, sans-serif; /* Fonte limpa e legível */
    background-color: #fdf3c7; /* Fundo suave (amarelo claro) */
    text-align: center; /* Centraliza o conteúdo */
    padding: 23px;
}

body::before {
    content: "";
    position: fixed; /* <-- fixa no fundo */
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: url('./img/Girassol.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.4;
    z-index: -1;
}
  
/* Título principal */
h1 {
    color: #5e3c11;
    text-shadow: 1px 6px 10px rgb(255, 251, 0);
}

h2 {
    color: #5e3c11;
    text-shadow: 1px 6px 10px rgb(255, 251, 0);
}

/* Mensagem inicial de incentivo */
.mensagem-fixa {
    font-size: 18px;
    font-weight: bold;
    color: #000000;
    margin-bottom: 17px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow: 1px 6px 10px rgb(255, 251, 0);
}

/* Caixa de entrada e botões */
input, button {
    padding: 13px;
    margin: 15px;
    border-radius: 8px; /* Bordas arredondadas */
    border: 3px solid #070588;
    font-size: 16px;
}

/* Botões com cor e efeito */
button {
    background-color: #9cabf1;
    color: #000000;
    padding: 4px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: none;
    border: 3px solid #070588;
    margin: 13px;
    padding: 11px;
}

button:hover {
    background-color: #0d17a3;
    color: white;
    font-size: 13px;

}

label {
    font-weight: bold;
}

body {
    border: 20px solid #ffc710; /* espessura, tipo e cor da borda */
    padding: 100px; /* garante que o conteúdo não encoste na borda */
  }

/*barra de navegação*/
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

nav#menu ul{
    text-transform: uppercase;
    list-style: none;
}

.navbar{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #ffc710;
    text-align: center;
}

nav#menu{
    display: block;
}

nav#menu li{
    display: inline-block;
    background: rgb(250, 202, 89);
    padding: 10px;
}

body{
    background-color: rgb(255, 250, 183);
}

nav#menu a:link{
    text-decoration: none;
    color:rgb(255, 255, 255);
    font-weight: bold;
}

nav#menu a:visited{
    text-decoration: none;
    color:rgb(255, 255, 255);
    font-weight: bold;
}

nav#menu a:hover{
   color:rgb(0, 0, 0);
}

nav#menu li:hover{
    background: rgb(241, 185, 0);
}